:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
 
  color: #c04020;
  background-color: #202020;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background-color: #202020;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color:#c08020;
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.4em;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #c04020;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffc080;
  }
  a:hover {
    color: #7bff47;
  }
  button {
    background-color: #2040c0;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

table {
  color: #c08020;

  margin-left: auto;
  margin-right: auto;
  padding: 1.4em;
  background-color: #2040c0;
  
  font-size: 1.4em;
}

table, th, td {
  font-weight: bold;
  border: 3px solid;
  border-collapse: collapse;
}

.lock {
  color: #2040c0;
  background-color: #c08020;
}

th, td {
  padding: 0.25em;
}

.eye {
  color: rgba(0,0,0,0);
  border: 1em solid;
  border-radius: 1em;
  margin: 0.35em;

  font-size: 0.7em;
  display: inline-block;
}

.inlined {
  display: inline-block;
  padding: 1em;
}

.visible {
  color: #c08020;
}

.visible.invert {
  color: #2040c0;
}

.dice {
  color: #c08020;
  background-color: #2040c0;
  border: 0.7em solid;
  padding: 0.7em;
  margin: 0.7em;

  display: inline-block;
}

.dice.invert {
  color: #2040c0;
  background-color: #c08020;
}

.row {
  display: inline-block;
}